lib/*
dist/*
node_modules/*
typings/*
tests/browser/globals.js
*~
npm-debug.log
selenium-debug.log
tests/browser/reports/*
selenium-server.log
docs
.eslintcache
.env.local
.env# macOS Finder duplicate files
*[[:space:]]2.tsx
*[[:space:]]2.ts
