<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Circulation Web</title>
    <script src="http://localhost:8090/webpack-dev-server.js"></script>
    <style>
      body { margin: 0; }
    </style>
  </head>
  <body>
    <div id="circulation-web"></div>
    <script src="http://localhost:8090/dist/circulation-web.js"></script>
    <script>
      var browser = new CirculationWeb("circulation-web");
    </script>
  </body>
</html>