.add-domain {
  margin-left: 10px;
}

.admin-auth-service-domain {
  div {
    display: inline-block;
    margin-right: 10px;
  }

  i {
    color: #AAA;
    cursor: pointer;
  }
}

.add-admin-form {
  border: 1px solid black;
  padding: 20px;
  margin: 5px 0px;
}