@import "~bootstrap/dist/css/bootstrap.css";
@import "~opds-web-client/lib/stylesheets/app.scss";
@import "~library-simplified-reusable-components/dist/reusable-components.css";

@import "mixins";
@import "colors";
@import "global";

@import "admin_auth_service_edit_form";
@import "badge";
@import "book_details_container";
@import "book_details_tab_container";
@import "catalog_overrides";
@import "change_password_form";
@import "circulation_events_download_form";
@import "classifications";
@import "classifications_form";
@import "classifications_table";
@import "collection";
@import "color_picker";
@import "complaint_form";
@import "complaints";
@import "config_tab_container";
@import "custom_list_editor";
@import "custom_list_entries_editor";
@import "custom_list_for_book";
@import "custom_lists_page";
@import "custom_lists_sidebar";
@import "custom_lists";
@import "dashboard";
@import "diagnostics";
@import "edit_form";
@import "editable_input";
@import "editor";
@import "entry_points_container";
@import "genre_form";
@import "header";
@import "icon";
@import "individual_admin_edit_form";
@import "input_list";
@import "lane_editor";
@import "lanes";
@import "lanes_sidebar";
@import "library_registration";
@import "manage_patrons";
@import "protocol_form_field";
@import "self_tests";
@import "set_up";
@import "stats";
@import "tool_tip";
@import "troubleshooting";
@import "welcome_page";
@import "with_edit_button";
@import "with_remove_button";
