.book-details-tab-container .tab-content {
  .form-inline {
    display: flex;
  }
  
  // First Tab
  .book-details {
    padding-top: 2em;

    .circulation-links .btn {
      color: $blue;
      border-color: $blue;
  
      &:hover {
        color: $white;
      }
    }
  }

  // For all forms on the Book edit tab page
  .edit-form {
    width: 100%;
  }

  .cover-edit-form {
    margin: 0;
    padding: 0;
    form {
      height: auto;
      .alert h4 {
        margin-bottom: 0;
      }
      button.btn.top-align {
        margin: unset;
      }
    }
  }
}
