.book-details-wrapper .tab-content {
  .details {
    padding-top: 2em;
  }

  .form-inline {
    display: flex;
  }

  .cover-edit-form {
    margin: 0;
    padding: 0;
    form {
      width: 100%;
      height: auto;
      .alert h4 {
        margin-bottom: 0;
      }
      button.btn.top-align {
        margin: unset;
      }
    }
  }
}
