.collection-container {
  .book a {
    color: $blue-dark;
    .item-icon svg {
      fill: $blue-dark;
    }
    &:hover {
      color: $blue;
      .item-icon svg {
        fill: $blue-dark;
      }
      .item-details {
        color: $blue-dark;
      }
    }
  }
  .more-link div {
    color: $blue-dark;
    svg {
      fill: $blue-dark;
    }
    &:hover {
      color: $blue;
      svg {
        fill: $blue;
      }
    }
  }
}
