.collection-library {
  div {
    display: inline-block;
    margin-right: 10px;
  }

  i {
    color: #AAA;
    cursor: pointer;
  }
}

.collection-import {
  .collection-import-controls {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  label {
    margin: 0;
  }
}

.tab-container {
  li.deleted-collection {
    background: $red-error;
    padding: 20px 0;

    svg {
      width: 75px;
      height: 20px;
    }

    p {
      padding: 10px 15px 0;
    }
  }
}
