// Some NYPL specific colors: https://nypl.github.io/design-toolkit/sections/color.html.
$green-tint: #F3F7E6;
$green-bright: #008918;
$red: #D0343A;
$red-dark: #97272C;
// field error bg
$red-error: tint($red, 80%);
$red-tint: tint($red, 30%);
$light-gray: #D7D4D0;
$medium-gray: #DDD;
$dark-gray: #080807;
$white: #FFF;
$blue: #1B7FA7;
