// Some Palace specific colors.
$green-tint: #F3F7E6;
$green-bright: #008918;
$green-muted: #809F69;
$red: #D0343A;
$red-dark: #97272C;
// field error bg
$red-error: tint($red, 80%);
$red-tint: tint($red, 30%);
$light-gray: #D7D4D0;
$medium-gray: #DDD;
$medium-dark-gray: #AAA;
$dark-gray: #080807;
$gray-tint: #F5F5F4;
$gray-border: #CCCCCC;
$white: #FFF;
// Palace logo light blue
$blue-light: #46BBE5;
// Palace logo dark blue
$blue-dark: #242DAB;
// A lighter shade of the Palace logo dark blue
$blue: tint($blue-dark, 35%);
$yellow: #FEE24A;
