$dangercolor: #D9534F;

.config {
  height: 100%;
  .tab-container {
    position: relative;
    height: 100%;
    width: 100%;
    .nav-tabs {
      float: left;
      width: 25%;
      border-right: 1px solid #DDD;

      li {
        display: block;
        width: 100%;
        border-top: 1px solid #DDD;

        a {
          padding-left: 15px;
          width: 100%;
        }
      }
    }

    .tab-content {
      float: left;
      width: 73%;
      padding: 40px 50px;

      ul {
        padding-left: 10px;

        li:not(.panel) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          max-width: 600px;
          margin: 20px 0px;
          padding-bottom: 5px;
          border-bottom: 1px solid $pagetextcolor;

          h3 {
            margin-right: 20px;
            flex-grow: 1;
            font-size: 18px;
          }
        }
      }

      a.btn-default, a.danger {
        display: unset;
        margin: 12px 12px 12px 0;
        color: $pagecolor;
        svg {
          height: 0.7em;
          width: 0.7em;
          margin-left: 5px;
          fill: $pagecolor;
          float: unset;
          vertical-align: unset;
        }
      }

      a.danger {
        &:hover {
          background-color: white;
          border-color: $dangercolor;
          color: $dangercolor;
          svg {
            fill: $dangercolor;
          }
        }
      }
    }
  }
}
