.custom-list-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .custom-lists-container {
    flex: 1;
    position: relative;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  .custom-lists {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .custom-lists-sidebar {
    border: 1px solid $gray;
    padding: 15px;
    margin: 7px;
    overflow-y: scroll;

    a.btn, a.btn-default {
      color: $invertedlinkcolor;

      &:hover {
        color: $linkcolor;
      }
    }

    .form-group {
      display: inline-block;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 25px;
    }

    ul {
      list-style-type: none;
      padding-left: 0px;
    }

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.9em;
      border: 1px solid $pagecolorlight;
      border-bottom-color: $pagetextcolor;
      color: $pagetextcolor;

      &.active {
        background-color: $pagecolorlight;
      }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        padding: 5px;

        &:nth-child(1) {
          width: 150px;
          hyphens: auto;
        }

        &:nth-child(2) {
          width: 120px;
        }
      }

      a, button {
        display: block;
        width: 100%;
        font-size: 0.9em;
        margin: 5px 0px;
        color: $invertedlinkcolor;

        &:not(.disabled) {
          cursor: pointer;
        }

        svg {
          margin-left: 5px;
          fill: $invertedlinkcolor;
        }

        &:hover {
          color: $linkcolor;
          svg {
            fill: $linkcolor;
          }
        }
      }
    }
  }
}

.dragging .custom-list-manager .custom-lists-sidebar li a {
  cursor: inherit;

  &:hover {
    background-color: inherit;
  }
}