.custom-list-editor {
  margin-left: 20px;
  flex-grow: 1;

  .custom-list-editor-header {
    display: flex;
    flex-direction: row;

    > div {
      width: 50%;
    }

    span {
      margin: 15px 0px;
    }

    h3 {
      display: inline-block;

      .form-group {
        display: inline-block;
      }
    }

    h4 {
      color: lighten($pagetextcolor, 40%);
    }

    a {
      margin-left: 5px;
      font-size: 0.7em;
      color: $linkcolor;

      svg {
        margin-left: 5px;
        height: 0.7em;
        width: 0.7em;
        fill: $linkcolor;
      }

      &.cancel-changes svg {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: -3px;
      }

      &:hover {
        color: $linkhovercolor;
        svg {
          fill: $linkhovercolor;
        }
      }
    }
  }

  .form-inline {
    input {
      width: 50%;
    }

    button {
      svg {
        width: 0.7em;
        height: 0.7em;
        margin-left: 10px;
        fill: $invertedlinkcolor;
      }

      &:hover svg {
        fill: $linkcolor;
      }
    }
  }

  .custom-list-drag-and-drop {
    width: 100%;
  }

  .custom-list-search-results, .custom-list-entries {
    float: left;
    width: 44%;
    margin-top: 15px;
    margin-right: 20px;

    h4 {
      display: inline-block;
    }

    button {
      float: right;

      svg {
        height: 0.7em;
        width: 0.7em;
        margin-left: 5px;
        fill: $invertedlinkcolor;
      }

      &:hover svg {
        fill: $linkcolor;
      }
    }

    .droppable-header {
      overflow: hidden;
    }

    .droppable {
      border: 1px solid $pagecolorlight;
      padding: 10px;
      min-height: 50vh;

      &.dragging-over {
        border-color: $pagetextcolor;
      }

      .search-result, .custom-list-entry {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid $pagecolorlight;
        padding: 10px;
        cursor: grab;
        cursor: -webkit-grab;

        &.dragging {
          border: 1px solid $pagetextcolor;
          background-color: $pagecolorlight;
        }

        > div {
          width: 50%;

          &.links {
            text-align: right;
          }
        }

        svg {
          width: 0.7em;
          height: 0.7em;
          margin-top: 6px;
          margin-right: 10px;
        }

        a {
          font-size: 0.7em;

          svg {
            margin-right: 0px;
            margin-left: 5px;
            fill: $linkcolor;
          }

          &:hover svg {
            fill: $linkhovercolor;
          }
        }

        .title {
          font-weight: bold;
        }

        .authors {
          font-size: 0.7em;
        }
      }
    }
  }
}

.dragging {
  user-select: none;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
