.custom-list-drag-and-drop {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-grow: 1;
  height: 50%;
}

.custom-list-search-results, .custom-list-entries {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  border: 1px solid $medium-gray;
  border-radius: 4px;
  padding: 12px 24px 24px 24px;
  margin: 15px 0;
  overflow-y: scroll;
  h4 {
    display: inline-block;
  }

  .auto-update-status-desc {
    font-style: italic;
    font-size: .9em;
  }

  button {
    float: right;

    &.load-more-button {
      line-height: 0;
      margin: 0;
      padding: 12px;
    }

    &.refresh-button {
      svg {
        margin: 0;
      }
    }
  }

  .droppable-header {
    flex: 0 0 auto;
    overflow: hidden;
    margin-bottom: 10px;

    > div {
      display: flex;
      justify-content: space-between;
    }
  }

  .droppable {
    border: 1px solid $pagecolorlight;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 15px;
    height: 100%;
    list-style: none;

    &.dragging-over {
      border-color: $pagetextcolor;
    }

    .search-result, .custom-list-entry {
      display: flex;
      gap: 6px;
      justify-content: space-between;
      border: 1px solid $pagecolorlight;
      padding: 10px;

      &[draggable] {
        cursor: grab;
        cursor: -webkit-grab;
      }

      &.dragging {
        border: 1px solid $pagetextcolor;
        background-color: $pagecolorlight;
      }

      > div {
        flex-grow: 0;
        flex-basis: 30%;

        &.links {
          text-align: right;
          .btn {
            width: 100%;
          }
        }
      }

      svg {
        flex-grow: 0;
        margin-top: 6px;
        flex-basis: 10%;

        &:first-child {
          flex-basis: 3%
        }
      }

      > a {
        flex-grow: 0;
        flex-basis: 10%;
      }

      a {
        svg {
          margin-right: 0px;
          margin-left: 5px;
        }
      }

      .title {
        font-weight: bold;
      }

      .authors {
        font-size: 0.7em;
      }

      .draggable-item-icon {
        height: 3rem;
        margin: -10px 0 0 0;
      }

      .btn > span > svg {
        flex-basis: unset;
        margin: unset;
      }
    }
  }
}

.dragging {
  user-select: none;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.list-loading {
  border: 1px solid $pagecolorlight;
  padding: 10px;
  text-align: center;
}
