.custom-list-editor {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex-grow: 0.9;
  padding: 15px;
  .custom-list-editor-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
    border-bottom: 1px solid $medium-gray;

    .edit-custom-list-title {
      width: 100%;
    }

    > div {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .save-or-cancel-list {
      padding-top: 20px;
    }

    .custom-list-filters {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    h3 {
      display: inline-block;
      hyphens: auto;

      .form-group {
        display: inline-block;
      }
    }
  }

  .form-inline {
    display: flex;
    align-items: center;
    fieldset {
      width: 60%;
      height: 100%;
      input {
        width: 100%;
        margin: 0;
      }
    }
    button {
      align-self: flex-end;
      margin-bottom: 8.5px;
    }
  }

  .custom-list-editor-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 10px;
    height: 60%;
    width: 100%;
    .custom-list-editor-panels {
      width: 100%;
    }
    .collections {
      width: 100%;
      .form-group {
        float: left;
        margin-right: 15px;
        margin-bottom: 2px;
      }
    }

    form {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .entry-points, .search-options {
      display: block;
      margin: 0 0 10px;
      width: 100%;

      .form-group {
        display: inline-block;
        margin: 5px 20px 0 2px;

        input {
          width: auto;
        }
      }

      aside {
        font-size: .9em;
        font-style: italic;
      }
    }
  }

  button span {
    svg {
      float: unset;
      vertical-align: unset;
      height: .9em;
      margin-left: .5em;
    }
  }
}

.query-viewer {
  position: relative;

  > button {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    z-index: 1;
    font-family: monospace;
  }

  button {
    height: 32px;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 14px;
  }

  > div {
    header {
      margin-bottom: 10px;

      button {
        margin-right: 3px;

        &:disabled {
          border-color: black;
        }
      }
    }

    position: absolute;
    right: -5px;
    top: -5px;
    width: 50%;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    padding: 10px;
    background: white;
  }

  pre, code {
    margin: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: monospace;
    font-size: 14px;
  }

  a {
    word-break: break-all;
  }
}

.search-titles {
  width: 100%;
  .panel {
    margin: 5px 0 10px 0;
  }
  .panel-instruction {
    .panel-heading {
      span {
        color: $white;
      }
      svg {
        fill: $white;
      }
      &:not(:hover) {
        background: $blue-dark;
      }
      &:hover {
        background: $blue;
      }
    }
  }
  br {
    display: none;
  }

  .auto-update {
    margin-top: 20px;

    .auto-update-selection {
      display: flex;
      gap: 15px;

      > div {
        flex: 1 1 50%;
      }

      .form-group {
        margin: 5px 0 0 0;
      }
    }

    aside {
      font-size: .9em;
      font-style: italic;
    }
  }
}

.search-builders {
  margin-top: 20px;
}
