.custom-lists-container {
  flex: 1;
  position: relative;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.custom-lists {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
}
