.custom-lists-sidebar {
  flex: 0 0 auto;
  min-width: 16em;
  border: 1px solid $gray;
  padding: 15px;
  margin: 7px 7px 15px 7px;
  overflow-y: scroll;

  h2 {
    text-align: center;
  }

  .sort-filter {
    display: flex;
    gap: 5px;

    fieldset {
      flex: 1 1 auto;
    }

    .form-group {
      margin: 0;

      label {
        width: 100%;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    color: $pagetextcolor;
    border: 1px solid $pagecolorlight;
    border-bottom-color: $pagetextcolor;
    padding: 10px 10px 5px 10px;

    &.active {
      background-color: darken($pagecolorlight, 5%);
      border-color: $pagetextcolor;
    }

    svg {
      margin-right: 4px;
    }

    div {
      width: 100%;

      &:nth-child(1) {
        hyphens: auto;
      }

      &:nth-child(2) {
        .btn {
          width: 50%;
        }
      }
    }
  }

  .custom-list-buttons {
    display: flex;
    justify-content: space-between;

    & > svg {
      align-self: end;
      margin-bottom: .5em;
    }
  }
}

.dragging .custom-list-manager .custom-lists-sidebar li a {
  cursor: inherit;

  &:hover {
    background-color: inherit;
  }
}
