.diagnostics-page {
  height: 100%;
  .body {
    min-height: 80%;
    .tab-container {
      min-height: 600px;
      .tab-content {
        padding: 2em 0;
        .config {
          width: 100%;
          .tab-container {
            .nav-tabs {
              border-bottom: 1px solid $medium-gray;
              border-right: 1px solid $medium-gray;
              border-top: none;
              li {
                border-color: $medium-gray;
                a {
                  border: none;
                }
                &.active {
                  border-bottom: 1px solid $medium-gray;
                }
              }
            }
            .tab-content {
              padding: 0;
              min-width: 70%;
              height: 100%;
              border: 1px solid $medium-gray;
              .list-group {
                padding: 0;
                .list-group-item {
                  margin: 0;
                  padding: 0;
                  min-width: 100%;
                }
              }
            }
          }
          .collapsible {
            width: 100%;
            .panel-title {
              padding: 10px 15px;
            }
            .panel-success {
              .panel-title {
                background: $green-tint;
              }
            }
            .panel-danger {
              .panel-title {
                background: $red-tint;
              }
            }
          }
        }
      }
    }
  }
}
