.service-with-registrations-library {
  display: flex;
  margin: 15px 0 5px;
  padding: 0 0 20px;
  align-items: center;
  border-bottom: 1px solid $dark-gray;

  .library-name {
    width: 150px;
    margin-right: 25px;
  }

  .library-registration-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .current-stage {
      margin: 0 0 15px;
    }

    .registration-status {
      .bg-success {
        padding-top: 6px;
      }
    }
  }

  button {
    margin-right: 10px;
  }

  span {
    padding: 10px;
    margin: 0px 5px;
  }

  .form-group {
    display: inline-block;
  }
}
