.service-with-registrations-library {
  display: flex;
  margin: 15px 0 5px;
  padding: 0 0 20px;
  align-items: center;
  border-bottom: 1px solid $dark-gray;

  .library-name {
    width: 150px;
    margin-right: 25px;
  }

  .library-registration-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;

    .current-stage {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 5px 15px 5px;
      padding: 10px 0;
      border-bottom: 1px solid $medium-gray;
    }

    > span {
      display: inline-block;
      padding: 10px;
      margin: 0px 5px;
    }

    .registration-status {
      .registration-checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $medium-gray;
        padding: 10px;
        margin: 15px 5px 0px 5px;
        label {
          margin: 0;
        }
        input {
          margin: 0;
        }
      }
    }
    button {
      margin-left: 5px;
      margin-right: 10px;
      margin-top: 15px;
    }
  }

  .form-group {
    display: inline-block;
    margin-bottom: 0;
  }
}
