.control-label {
  input[type="checkbox"] {
    margin-right: 5px;
  }
  span {
    margin-left: 5px;
  }
  .required-field {
    color: $red-dark;
    font-size: 0.9rem;
  }
}

.description {
  font-size: 0.8rem;
}

.field-error {
  background: $white;

  input[type=text],
  select,
  input:not([type=checkbox]),
  input[type=radio] + span,
  textarea {
    background-color: $red-error;
    border: 1px $red-dark solid;
    box-shadow: none;

    &:focus {
      background-color: lighten($red-error, 5%);
      outline-color: $red-dark;;
    }
  }

  .description {
    background: $white;
    color: $red;
  }
}
