.edit-form {
  margin: 0;
  padding: 0;
  label {
    width: 100%;
    .form-control {
      font-weight: normal;
    }
  }

  input[name=series] {
    width: 300px;
  }

  input[name=series_position] {
    width: 50px;
  }

  textarea[name=summary] {
    height: 300px;
  }

  .update-libraries {
    .with-remove-button,
    .with-edit-button {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;

      > span {
        width: 100%;
      }
    }
  }

  .contributor-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    .form-group {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  > .btn {
    margin-left: 0;
  }
}
