.edit-form {
  label {
    width: 100%;
    .form-control {
      font-weight: normal;
    }
  }

  input[name=series] {
    width: 300px;
  }

  input[name=series_position] {
    width: 50px;
  }

  textarea[name=summary] {
    height: 300px;
  }

  .with-remove-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contributor-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    .form-group {
      margin-right: 10px;
    }
  }

  button.btn {
    margin: 1em 0;
  }
}
