.control-label input[type="checkbox"] {
  margin-right: 5px;
}

.description {
  font-size: 0.8rem;
}

.control-label {
  margin-bottom: 0px;

  .required-form-label {
    float: right;
    color: $red;
  }
}
