.editor-fetching-container {
  height: 35px;

  i {
    margin-left: 10px;
  }
}

.edit-form .editor {
  label {
    margin-bottom: 0;
  }
  .editor-field {
    border: 1px solid #403D37;
    .DraftEditor-root {
      padding: 6px 12px;
    }
    button.btn.inline {
      margin: 0 0 1em 0;
      border-top: none;
      border-left: none;
      background: white;
      border-color: #403D37;
      color: #403D37;
      width: 36px;
      transition: color 0, background 0;
      &:hover, &.active {
        background: #403D37;
        color: white;
      }
    }
  }
}
