.edit-form .editor {
  label {
    margin-bottom: 0;
  }
  .editor-field {
    border: 1px solid $dark;
    .DraftEditor-root {
      padding: 6px 12px;
    }
    ul {
      padding: 0;
      margin: 0 0 1em 0;
    }
    button.btn.inline {
      margin: 0;
      border-top: none;
      border-left: none;
      background: white;
      border-color: $dark;
      color: $dark;
      font-weight: unset;
      transition: color 0, background 0;
      &.active {
        background: $dark;
        color: $white;
      }
      &:hover {
        background: $blue-dark;
        color: $white;
      }
    }
  }
}
