.entry-points-tab-container {
  margin: 10px 0 15px;
  padding: 0 15px;

  .nav-tabs {
    border-bottom: 1px solid $dark;
  }

  li {
    &.no-svg {
      a {
        padding: 12px;
      }
    }

    &.active {
      a,
      a:hover,
      a:focus {
        border: 1px solid $dark;
        border-bottom-color: transparent;
      }
    }

    a {
      min-width: 100px;
      text-align: center;
    }

    svg {
      height: 28px;
      width: 28px;
      margin: 0 3px -9px 0;
    }
  }
}
