.entry-points-tab-container {
  height: 100%;
  margin: 10px 0 15px;
  padding: 0 15px;

  .nav-tabs {
    border-bottom: 1px solid $dark;
  }

  .entry-points-list {
    li {
      &.no-svg {
        a {
          padding: 11px;
        }
      }

      &.active {
        a,
        a:hover,
        a:focus,
        a:visited {
          border: 1px solid $dark;
          border-bottom-color: transparent;

          svg {
            fill: $dark;
          }
        }
      }

      a {
        min-width: 100px;
        text-align: center;

        &:visited {
          svg {
            fill: $linkvisitedcolor;
          }
        }
        &:hover {
          svg {
            fill: $linkhovercolor;
          }
        }
      }

      svg {
        height: 28px;
        width: 28px;
        margin: 0 3px -9px 0;
        fill: $linkcolor;
      }
    }
  }
}
