.entry-points-tab-container {
  height: 100%;
  margin: 10px 0 15px;
  padding: 0 15px;
  .lane {
    a.title {
      color: $blue;
      &:hover {
        color: $blue-dark;
      }
    }
    .lane-books-container {
      .scroll-button {
        background: $blue;
        &:hover {
          background: $blue-dark;
          color: $white;
          transition: background .5s;
        }
        &.right {
          border-top-right-radius: .25em;
          border-bottom-right-radius: .25em;
        }
        &.left {
          border-top-left-radius: .25em;
          border-bottom-left-radius: .25em;
        }
      }
    }
  }

  .nav-tabs {
    border-bottom: 1px solid $dark;
  }

  // EntryPointsTabs
  .entry-points-list {
    li {
      a {
        color: $blue;
        svg {
          fill: $blue;
        }
        &:hover {
          color: $blue-dark;
          svg {
            fill: $blue-dark;
          }
        }
      }

      &.no-svg {
        a {
          padding: 11px;
        }
      }

      &.active {
        a,
        a:hover,
        a:focus,
        a:visited {
          border: 1px solid $dark;
          border-bottom-color: transparent;
          color: $blue-dark;

          svg {
            fill: $blue-dark;
          }
        }
      }

      a {
        min-width: 100px;
        text-align: center;
      }

      svg {
        height: 28px;
        width: 28px;
        margin: 0 3px -9px 0;
      }
    }
  }
}
