footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: $blue-dark;
  width: 100%;
  padding: 15px 0;
  &.sticky {
    position: sticky;
    z-index: 1;
  }
  ul {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    li {
      margin: 2px 0;
      a, a:visited {
        color: $white;
        &:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}
