.genre-form {
  select {
    width: 200px;
  }

  select.subgenres {
    vertical-align: top;
    margin-left: 10px;
  }

  button.btn {
    height: 40px;
    margin-left: 10px;
  }

  .form-inline {
    display: unset;
  }
}
