.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;

  &:focus,
  &:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.form-control {
  &:focus {
    @include basic-focus;
  }

  padding: 0 6px;
}

.btn:not(.inverted), .btn.btn-default {
  background: $blue-dark;
  color: $white;
  &:hover {
    color: $white;
    background: $blue;
  }
}

.btn.danger {
  color: $white;
  &:hover {
    color: $white;
  }
}

button.btn.inverted, a.btn.inverted {
  color: $blue-dark;
  border-color: $blue-dark;
  &:hover {
    color: $white;
  }
  svg {
    fill: $blue-dark;
  }
}

.breadcrumbs-or-search-wrapper {
  a {
    &:not(:hover) {
      color: $blue-dark;
    }
    &:hover {
      color: $blue;
    }
  }
  .search {
    button {
      display: inline-block;
      margin-top: 1px;
    }
    form {
      border: none;
      width: unset;
      padding: unset;
      margin: unset;
    }
  }
}

body > div {
  height: unset;
}

body > #opds-catalog {
  height: 100%;

  > div:first-child {
    position: relative;
    min-height: 100vh;
    block-size: fit-content;
    &:not(.config) main {
      padding-bottom: 56px;
      max-height: 78.5%;
      block-size: fit-content;
    }
    &.config main {
      block-size: fit-content;
    }
  }
}

// overwriting rules from the opds-web-client for the complaints list view
.collection .collection-container .collection-main {
  padding-bottom: 50px;
}
