.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;

  &:focus,
  &:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.form-control {
  &:focus {
    @include basic-focus;
  }
}

.btn:not(.inverted), .btn.btn-default, .btn.danger {
  color: $white;
  &:hover {
    color: $white;
  }
}
.btn.inverted:hover {
  color: $white;
}

.breadcrumbs-or-search-wrapper {
  a {
    color: $blue;
    &:hover {
      color: $blue-dark;
    }
  }
  .search {
    button {
      display: inline-block;
      margin-top: 1px;
    }
    form {
      border: none;
      width: unset;
      padding: unset;
      margin: unset;
    }
  }
}

main.body {
  height: 76%;
  background: crimson;
}
#opds-catalog > div:first-child {
  height: 100%;
}
// Go through each page on QA--identify the actual floaty ones.
