.navbar-default .navbar-brand {
  color: $pagecolorlight;
  font-size: 1.8em;
}

.navbar-default .container-fluid {
  padding-right: 0;
}

.navbar-brand > img.nypl-logo {
  display: inline;
  height: 25px;
  margin-right: 10px;
  margin-top: -5px;
}

.navbar-header .form-group {
  display: inline-block;
  margin-top: 7px;
}

.navbar-header .form-control {
  display: inline-block;
  width: auto;
}

.navbar-nav .dropdown-menu {
  display: block;
  background-color: $dark;
  left: auto;
  right: 0;

  a {
    background-color: $dark;
    color: $pagecolorlight;

    &:hover, &:visited, &:active, &:focus {
      background-color: $pagecolorlight;
      color: $dark;
    }
  }
}

.menu .header-link a {
  padding-left: 5px;
  padding-right: 5px;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
  min-width: 30%;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-collapse {
  padding: 0;
}
