.palace {
  .navbar-default, .navbar-collapse {
    background-color: $white;
    color: $dark;
  }

  .navbar-nav > li {
    & > a,
    & > button {
      color: $dark;

      &:hover, &:focus {
        color: $dark;
      }
    }
  }
}

.navbar-default {
  padding: 3px 0;
  border-radius: 0;

  .container-fluid {
    padding: 24px 0 15px 15px;
  }

  .navbar-header {
    padding-left: 10px;

    > svg {
      height: 64px;
      width: auto;
      margin: -12px 20px 0 0;
      vertical-align: top;
      fill: black;
    }

    .form-group {
      display: inline-block;
      margin-top: 6px;
      margin-bottom: 0;
    }

    .form-control {
      display: inline-block;
      width: auto;
    }
  }

  .navbar-nav {
    margin-left: 3px;

    .dropdown {
      > button {
        color: $dark;
        padding: 13px 10px;
        margin: 0;

        svg {
          transform: rotate(270deg);
          fill: $dark;
          height: 0.9em;
        }

        &:focus {
          @include basic-focus;
        }
      }
    }

    .dropdown-menu {
      display: block;
      background-color: $pagecolorlight;
      left: auto;
      right: 0;
      padding-bottom: 0;

      .permissions, a {
        padding: 5px;
      }

      a {
        background-color: $white;

        &:focus {
          @include basic-focus;
        }

        &:hover, &:active, &:focus {
          @include headerNavLink;
        }
      }
    }
  }

  .menu .header-link a {
    padding-left: 5px;
    padding-right: 5px;
  }

  .pull-right {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    min-width: 30%;
  }

  .navbar-collapse {
    padding: 0;

    &.in {
      overflow-y: visible;
    }
  }

  .nav {
    .header-link {
      a {
        text-decoration: none;

        &.active-link,
        &:hover,
        &:focus {
          @include headerNavLink;
        }
      }
      &.active a {
        @include headerNavLink;
      }
    }
  }
}
