.lane-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 10px;

  .btn {
    display: inline-block;
    white-space: normal;
  }

  .lane-editor-header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    .lane-buttons {
      margin-top: 20px;
    }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      svg {
        height: 1em;
        width: 1em;
        float: unset;
        vertical-align: unset;
      }

      &.lane-details {
        flex-direction: column;
      }
    }

    > div > span {
      margin: 15px 0px;
    }



    h4 {
      color: lighten($pagetextcolor, 40%);
      svg {
        fill: lighten($pagetextcolor, 40%);
      }
    }

    a {
      margin-left: 5px;
      font-size: 0.7em;

      svg {
        margin-left: 5px;
      }

      &.cancel-changes svg {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: -3px;
      }
    }
  }

  .lane-editor-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .lane-custom-lists-drag-and-drop {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .available-lists, .current-lists {
    display: flex;
    flex-direction: column;
    flex-basis: 44%;
    margin-top: 15px;
    margin-right: 20px;

    h4 {
      display: inline-block;
    }

    .droppable-header {
      flex: 0 0 auto;
      overflow: hidden;
    }

    .droppable {
      border: 1px solid $medium-gray;
      padding: 10px;
      flex: 1;
      overflow-y: scroll;
      margin-bottom: 15px;

      &.dragging-over {
        border-color: $pagetextcolor;
      }

      .available-list, .current-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $medium-gray;
        padding: 10px;
        cursor: grab;
        cursor: -webkit-grab;

        &:hover, &.dragging {
          border: 1px solid $pagetextcolor;
          background-color: $pagecolorlight;
        }

        > div {
          width: 50%;

          &.links {
            text-align: right;
          }
        }

        svg {
          margin-top: 6px;
          margin-right: 10px;
        }

        a {
          font-size: .8em;

          svg {
            margin: 0 0 0 5px;
            float: unset;
            vertical-align: unset;
            height: .8em;
          }
        }

        .list-name, .list-id {
          font-weight: bold;
        }

        .list-count {
          font-size: 0.7em;
        }
      }
    }
  }
}

.save-or-edit {
  width: 60%;
  > div {
    width: 100%;
    h3 {
      display: flex;
      width: 100%;
      align-items: center;
      hyphens: auto;
      .form-group {
        display: inline-block;
        margin: 0;
      }
      .btn {
        margin-left: 40px;
      }
    }
  }
}
