.lane-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .lanes-container {
    flex: 1;
    position: relative;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  .lanes {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .lanes-sidebar {
    min-width: 400px;
    border: 1px solid $gray;
    padding: 15px;
    margin: 7px;
    overflow-y: scroll;
  }

  .lanes-sidebar ul {
    list-style-type: none;
    padding-left: 30px;

    li {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      border-bottom: 1px solid $dark-gray;

      &:last-child {
        border-bottom: none;
      }

      .active {
        background-color: $pagecolorlight;
      }

      .lane-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;

        &.draggable {
          cursor: grab;
          cursor: -webkit-grab;
        }
      }

      // .btn.show-lane, .btn.hide-lane {
      //   background-color: transparent;
      //   color: $pagetextcolor;
      //   font-weight: normal;
      //   padding: 0;
      //   margin: 0;
      //   svg {
      //     fill: $pagetextcolor;
      //     height: .7em;
      //     width: .7em;
      //   }
      //   &:hover {
      //     border-color: transparent;
      //   }
      // }

      .lane-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-self: flex-end;
        padding-bottom: 10px;

        > a {
          align-self: flex-end;
        }
      }

      .dragging {
        border: 1px solid $pagetextcolor;
        background-color: $pagecolorlight;
      }
    }

    &.dragging-over {
      border: 1px solid red;
    }
  }

  .lanes-sidebar > ul {
    clear: both;
    padding-left: 0px;
    margin-top: 10px;
    border-top: 4px solid $gray;
  }

  .lanes-sidebar > div {
    display: flex;
    justify-content: space-between;
    .btn {
      margin-left: 0;
    }
  }

  .collapse-button, .expand-button {
    display: inline-block;
    cursor: pointer;

    svg {
      margin-left: 5px;
      margin-right: 5px;
      fill: $pagetextcolor;
    }
  }

  .expand-button svg {
    transform: rotate(90deg);
  }

  .order-change-info {
    margin: 7px;
    padding-top: 14px;

    .cancel-order-changes {
      display: inline-block;
      font-size: 0.7em;
    }
  }

  .lanes-sidebar .btn, .reset-button, .cancel-button {
    display: inline-block;
    svg {
      height: .7em;
      margin-left: .5em;
      float: unset;
      vertical-align: unset;
    }
  }

  .reset {
    padding: 16px;
    margin: 6px;
    input {
      width: 30%;
    }
  }
}

.compact-info:focus {
  @include basic-focus;
}
