.lane-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 10px;

  .lane-editor-header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      &.lane-details {
        flex-direction: column;
      }
    }

    span {
      margin: 15px 0px;
    }

    h3 {
      display: inline-block;
      hyphens: auto;

      .form-group {
        display: inline-block;
      }
    }

    h4 {
      color: lighten($pagetextcolor, 40%);
      svg {
        fill: lighten($pagetextcolor, 40%);
      }
    }

    a {
      margin-left: 5px;
      font-size: 0.7em;
      color: $linkcolor;

      svg {
        margin-left: 5px;
        fill: $linkcolor;
      }

      &.cancel-changes svg {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: -3px;
      }

      &:hover {
        color: $linkhovercolor;
        svg {
          fill: $linkhovercolor;
        }
      }
    }

    .btn {
      margin-left: 5px;
      color: $invertedlinkcolor;

      svg {
        margin-left: 5px;
        fill: $invertedlinkcolor;
      }

      &.cancel-changes svg {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: -3px;
      }

      &:hover {
        color: $linkcolor;
        svg {
          fill: $linkcolor;
        }
      }
    }
  }

  .lane-editor-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .lane-custom-lists-drag-and-drop {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .available-lists, .current-lists {
    display: flex;
    flex-direction: column;
    flex-basis: 44%;
    margin-top: 15px;
    margin-right: 20px;

    h4 {
      display: inline-block;
    }

    button {
      float: right;

      svg {
        margin-left: 5px;
        fill: $invertedlinkcolor;
      }

      &:hover svg {
        fill: $linkcolor;
      }
    }

    .droppable-header {
      flex: 0 0 auto;
      overflow: hidden;
    }

    .droppable {
      border: 1px solid $pagecolorlight;
      padding: 10px;
      flex: 1;
      overflow-y: scroll;
      margin-bottom: 15px;

      &.dragging-over {
        border-color: $pagetextcolor;
      }

      .available-list, .current-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid $pagecolorlight;
        padding: 10px;
        cursor: grab;
        cursor: -webkit-grab;

        &.dragging {
          border: 1px solid $pagetextcolor;
          background-color: $pagecolorlight;
        }

        > div {
          width: 50%;

          &.links {
            text-align: right;
          }          
        }

        svg {
          margin-top: 6px;
          margin-right: 10px;
        }

        a {
          font-size: 0.7em;

          svg {
            margin-right: 0px;
            margin-left: 5px;
            fill: $linkcolor;
          }

          &:hover svg {
            fill: $linkhovercolor;
          }
        }

        .list-name, .list-id {
          font-weight: bold;
        }

        .list-count {
          font-size: 0.7em;
        }
      }
    }
  }
}