.service-with-registrations-library {
  display: flex;
  margin: 15px 0 5px;
  padding: 0 0 20px;
  align-items: center;
  border-bottom: 1px solid $dark-gray;

  .library-name {
    width: 150px;
    margin-right: 25px;
  }

  .library-registration-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;

    .current-stage {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 5px 15px 5px;
      padding: 10px 0;
      border-bottom: 1px solid $medium-gray;
    }

    > span {
      display: inline-block;
      padding: 10px;
      margin: 0px 5px;
    }

    // LibraryRegistrationForm
    .registration-status {
      .registration-checkbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $medium-gray;
        padding: 10px;
        margin: 15px 5px 0px 5px;
        width: 100%;
        p {
          margin: 0 0 8px 0;
          width: 100%;
          &.bg-danger {
            margin: 0;
            padding: 4px;
            color: $red-dark;
            border: 1px solid $red-dark;
          }
        }
        label {
          width: 100%;
          background: white;
          padding: 4px;
          border: 1px solid $medium-gray;
          margin: 0;
          input {
            margin: 0;
            width: 10%;
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
    button {
      margin: 15px 10px 10px 5px;
    }
  }

  .form-group {
    display: inline-block;
    margin-bottom: 0;
  }
}
