/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

$white: #FFF !default;

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@mixin headerNavLink {
  color: $dark-gray;
  background-color: $light-gray;
  border-radius: 2px;
  transition: background-color 0.3s ease-in;
}
