.password-input-wrapper {
  position: relative;

  input {
    padding-right: 40px;
  }

  .password-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 6px;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    transform: translateY(-50%);

    svg {
      width: 20px;
      height: auto;
    }
  }
}
