.plugin-editor {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex-grow: 0.9;
  padding: 15px;
  .error-alert {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;

    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
}