.randomizable {
  .form-group {
    margin-bottom: 0px;
  }
  .text-right {
    margin-bottom: 15px;
  }
}

span.add-list-item {
  display: inline-block;
  margin-right: 10px;
}

.btn.add-list-item {
  vertical-align: top;
}

span.input-group-addon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 2px;
  border-color: $linkcolor;

}
.with-add-on {
  display: flex;
  .tool-tip-container {
    height: 100%;
    cursor: pointer;
  }
  input {
    flex: 1;
  }
  svg {
    height: 100%;
    width: 80%;
    fill: $linkcolor;
  }
}
