.randomizable {
  .form-group {
    margin-bottom: 0px;
  }
  .text-right {
    margin-bottom: 15px;
  }
}

span.add-list-item {
  display: inline-block;
  margin-right: 10px;
}

.btn.add-list-item {
  vertical-align: top;
}
