.tab-container {
  .nav {
    a {
      color: $blue-dark;
      &:hover {
        color: $blue;
      }
    }
  }
  .tab-content {
    .has-additional-content {
      & > div > ul {
        li {
          flex-wrap: wrap;
        }
      }
      a {
        color: $blue-dark;
        &:hover {
          color: $blue;
        }
      }
      .integration-selftests {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0 0;
        flex-grow: 1;
        width: 100%;

        pre {
          white-space: pre-wrap;
        }

        svg:not(.icon) {
          height: 30px;
          width: 30px;
          align-self: center;

          &.success {
            fill: $green-bright;
          }

          &.failure {
            fill: $red;
          }
        }

        & > div:first-child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .description {
            margin-bottom: 0;
          }
        }

        .btn {
          margin-left: auto;
        }

        .panel-success > .panel-heading {
          background: #809F69;
        }

        .results {
          display: flex;
          width: 100%;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;

          ul {
            width: 100%;
            padding-left: 0;

            li {
              display: block;
            }
          }

          ol {
            list-style-position: inside;
            padding-left: 10px;
            li {
              display: list-item;
            }
          }
          & > div:first-child {
            width: 100%;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.tab-content {
  li {
    &.loading-self-test,
    &.success,
    &.failure {
      padding: 10px;
      word-wrap: break-word;
      border-radius: 3px;
    }

    &.loading-self-test {
      background-color: $light-gray;
      border: 0.0625rem $dark-gray solid;
      color: #000;
    }
    &.success {
      background-color: $green-tint;
      border: 0.0625rem $green-bright solid;
      color: #000;
    }
    &.failure {
      background-color: $red-error;
      border: 0.0625rem $red-dark solid;
      color: #000;
    }
  }

  .warning {
    display: block;
    background: tint($yellow, 50%);
    border: 1px solid $yellow;
    padding: 7px 9px;
    border-radius: 3px;
  }
}
