.stats-with-library {
  // With library, we show a two-column layout.
  grid-template-columns: repeat(2, minmax(27rem, 1fr));
  grid-template-areas:
  "patrons usage-reports"
  "collections collections"
  ;
}

.stats-without-library {
  // Without a library ("all libraries"), we show three columns.
  grid-template-columns: repeat(3, minmax(27rem, 1fr));
  grid-template-areas:
  "patrons circulations inventory"
  "collections collections collections"
  ;
}

.stats {
  display: grid;
  grid-gap: 1rem 1rem;
  grid-auto-rows: auto;
  padding: 0;

  .stat-group {
    background-color: $pagecolorlight;
    border-radius: 20px;
    padding: 10px;    
    overflow-x: scroll;

    &.stat-patrons-group {
      grid-area: patrons;
    }

    &.stat-circulations-group {
      grid-area: circulations;
    }

    &.stat-inventory-group {
      grid-area: inventory;
    }

    &.stat-usage-reports-group {
      grid-area: usage-reports;
    }

    &.stat-collections-group {
      grid-area: collections;

      .recharts-wrapper {
        // needed for Rechart ResponsiveContainer to shrink performantly with parent
        position: absolute;
      }

      ul.collection-name-list {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow-wrap: normal;
      }
    }

    .no-content {
      margin: 10px;
      font-style: italic;
      font-weight: bolder;
      color: $medium-dark-gray;
    }

    .stat-group-description {
      margin: 10px;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: left;
      font-style: italic;
      font-size: small;
      text-wrap: balance;
    }

    .stat-usage-reports {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 10fr minmax(8rem, 1fr);
      list-style-type: none;
    }

    .stat-link {
      margin-top: 1.5rem;
      color: $blue-dark;

      a {
        color: $blue-dark;
        text-decoration: underline;
      }
    }

    ul {
      padding: 0;
    }

    h3 {
      font-weight: bolder;
      text-transform: uppercase;
      text-wrap: balance;
      margin: 10px;
      margin-bottom: 2px;
    }
  }

  .stat-grouping-label {
    text-align: left;
    height: 1rem;
  }

  svg {
    width: inherit;
    height: inherit;
  }

  .stat-label {
    line-height: 1rem;
  }

  .stat-value {
    font-size: 300%;
    line-height: 1rem;
    margin-right: .5rem;
  }

  .stat-tooltip {
    display: inherit;
    align-items: inherit;
    text-align: inherit;
  }

  .single-stat {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0;
    padding: 10px;
  }

  .customTooltip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
    padding: 1px;
    text-align: left;
    border-radius: 12px;

    .customTooltipDetail {
      margin: 13px 13px;
      padding: 10px;
    }

    .customTooltipHeading {
      font-size: larger;
      font-weight: bold;
      text-decoration: underline;
      margin: 0 0;
    }

    .customTooltipItem {
      margin: 3px 0;

      span {
        vertical-align: middle;
        line-height: 100%;
      }

      .customTooltipMediumBreakdown {
        font-size: smaller;
        margin: 0 .5em;
      }
    }
  }


}
