.stats {
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));
  padding: 0;

  .stat-group {
    display: grid;
    background-color: $pagecolorlight;
    border-radius: 20px;
    padding: 10px;    
    overflow-x: scroll;

    &.stat-group-wide {
      grid-column-start: 1;
      grid-column-end: -1;

      .recharts-wrapper {
        // needed for Rechart ResponsiveContainer to shrink performantly with parent
        position: absolute;
      }
    }

    ul {
      padding: 0;
    }

    h3 {
      margin: 10px;
      margin-bottom: 2px;
    }
  }

  .stat-grouping-label {
    text-align: left;
  }

  svg {
    width: inherit;
    height: inherit;
  }

  .stat-label {
    line-height: 1rem;
  }

  .stat-value {
    font-size: 300%;
    line-height: 1rem;
    margin-right: .5rem;
  }

  .stat-tooltip {
    display: inherit;
    align-items: inherit;
    text-align: inherit;
  }

  .single-stat {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0;
    padding: 10px;
  }

  .customTooltip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
    padding: 1px;
    text-align: left;
    border-radius: 12px;
  }

  .customTooltipDetails {
    margin: 13px 13px;
    padding: 10px;
  }

  .customTooltipHeading {
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
    margin: 0 0;
  }

  .customTooltipItem {
    margin: 3px 0;

    span {
      vertical-align: middle;
      line-height: 100%;
    }
  }

  .customTooltipMediumBreakdown {
    font-size: smaller;
    margin: 0 .5em;
  }

}
