.with-remove-button {
  > span {
    display: inline-block;
  }

  .remove-btn {
    display: inline-block;
    color: $white;
    font-size: 14px;
    margin: 0.5em;

    svg {
      width: 1em;
    }
  }
}
