.with-remove-button {
  > span {
    display: inline-block;
    margin-right: 10px;
  }

  .remove-btn {
    display: inline-block;
    color: $white;
    font-size: 14px;
    margin: 0 0.5em;
    vertical-align: top;

    svg {
      width: 1em;
    }
  }
}
