.with-edit-button {
  > span {
    display: inline-block;
    margin-right: 10px;
  }

  .edit-btn {
    display: inline-block;
    color: $white;
    font-size: 14px;

    svg {
      width: 1em;
    }
  }
}